.affix {
  top: 0;
  width: 241px;
  height: 100vh;
  z-index: 1 !important;
}

body {
  color: rgba(0, 0, 0);
}

nav {
  border-radius: 0;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 241px;
  height: 100vh;
  overflow: scroll;
  border-right: 1px solid #cecece;
  box-sizing: border-box;
}
nav ul {
  padding: 0;
}

#nav-link {
  width: 241px;
  text-align: center;
  color: #636363;
  padding-bottom: 0.5px;
  padding: 20px 0;
  font-size: 18px;
  position: relative;
  display: block;
  user-select: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
#nav-link:hover {
  cursor: pointer;
  background: #836778;
  color: white;
}
#nav-link.current-nav {
  background: #5e354e;
  color: white;
  font-weight: bold;
}
.intro,
#projects,
#contact {
  width: 100%;
  min-height: 100vh;
  height: auto;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.profile-pic {
  width: 320px;
  margin-left: calc(50vw - 160px);
  margin-top: calc(50vh - 270px);
  overflow: hidden;
  border-radius: 50%;
  -webkit-box-shadow: 0px 30px 70px -20px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 30px 70px -20px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 30px 70px -20px rgba(0, 0, 0, 0.75);
}

.description-wrapper {
  width: 100%;
  margin: 40px 0 5px 0;
  text-align: center;
  padding-bottom: 5px;
  color: white;
}
.hi,
.my-name,
.my-description-wrapper {
  font-size: 46px;
  padding: 10px 0px;
}
.my-intro-wrapper {
  padding-top: 20px;
  margin-bottom: 30px;
}
.my-name,
.my-description-wrapper {
  font-size: 24px;
}
.my-name {
  border-width: 0;
}
.himayan {
  padding-left: 2px;
  font-size: 28px;
}
.my-description-wrapper {
  padding: 5px 0 20px 0;
  margin: auto;
}

.view-btn {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}
.view-link {
  padding: 10px 0px 10px 15px;
  border-radius: 5px;
  background-color: white;
  text-decoration: none;
  font-size: 18px;
  transition: 0.5s;
  color: #4d4d4d;
  font-weight: bolder;
  font-family: 'Red Hat Display';
}

.view-link:hover {
  cursor: pointer;
}

.view-link:link {
  text-decoration: none;
}

.fa-arrow-right {
  font-size: 16px;
  margin: 0 10px;
  transition: 0.5s;
}

.view-link:hover .fa-arrow-right {
  transform: rotateZ(90deg);
}

.sections-container {
  width: 100vw;
  overflow: hidden;
}
.intro {
  background: linear-gradient(
    150deg,
    #ADADAD 45%,
    #64485C 45%
  );
}

#skills {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 100vh;
  background: linear-gradient(
    160deg,
    #64485C 45%,
    #ADADAD 45%
  );
}

#about {
  background: linear-gradient(
    160deg,
    #ADADAD 45%,
    #64485C 45%
  );
}

#projects {
  background: linear-gradient(
    160deg,
    #64485C 45%,
    #ADADAD 45%
  );
}

#contact {
  background: linear-gradient(
    160deg,
    #ADADAD 45%
    #64485C 45%
  );
}

nav .social-media a {
  border-width: 0px;
  padding: 15px 15px 10px 15px;
  color: #8d8d8d !important;
}

nav ul {
  margin: 0;
}

nav {
  overflow: scroll;
  min-height: 100vh;
}

nav .social-media {
  display: flex;
  flex-direction: row;
  width: calc(100% - 40px);
  margin: 40px 20px 20px;
  justify-content: space-around;
}

nav .social-media a:hover .icons {
  color: #836778;
  -webkit-animation-name: pop; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.4s; /* Safari 4.0 - 8.0 */
  animation-name: pop;
  animation-duration: 0.4s;
}

.icons {
  font-size: 18px;
}

@-webkit-keyframes pop {
  0% {
    transform: translate(0px);
  }
  40% {
    transform: translate(15px, 0px);
    opacity: 0;
  }
  50% {
    transform: translate(-15px, 0px);
    opacity: 0;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}

@keyframes pop {
  0% {
    transform: translate(0px);
  }
  40% {
    transform: translate(15px, 0px);
    opacity: 0;
  }
  50% {
    transform: translate(-15px, 0px);
    opacity: 0;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}

.nav-img {
  margin: 0 0 30px 0;
}

.navbar-show {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 20px;
  background: white;
  color: #4d4d4d;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
  z-index: 1;
  -webkit-box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.5);
}
.navbar-show:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.5);
}

.navbar-closed nav {
  left: -241px;
  transition: left 0.5s ease-out;
}
.navbar-open nav {
  left: 0;
  transition: left 0.5s ease-out;
}

.title {
  font-size: 50px;
  border-width: 0px;
  text-align: center;
  margin: 0 auto 50px auto;
}

.life-stage {
  display: flex;
  flex-direction: row;
  height: 250px;
}

.life-desc {
  width: 50%;
  vertical-align: center;
}

.life-description-left {
  margin-right: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-right: 1px rgba(235, 235, 235, 0.5) solid;
  padding-right: 100px;
  transition: border-right 2s 0.5s ease-in-out;
}

.life-description-right {
  margin-left: calc(50% - 1px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-left: 1px rgba(235, 235, 235, 0.5) solid;
  padding-left: 100px;
  transition: border-left 2s 0.5s ease-in-out;
}

.life-icons {
  position: absolute;
  left: calc(50% - 75px);
  width: 150px;
  height: 150px;
}

.icon-img {
  background: white;
  border-radius: 50%;
  z-index: 2;
  padding: 5%;
  width: 90%;
  height: 90%;
  -webkit-box-shadow: 0px 20px 70px -20px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 20px 70px -20px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 20px 70px -20px rgba(0, 0, 0, 0.75);
}

.life-stage:last-child .life-description-right {
  border-left: solid 0px transparent;
}

.life-icons:first-child {
  margin-top: 0;
}
.description-container {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  background: white;
  border-radius: 15px;
  -webkit-box-shadow: 0px 20px 70px -20px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 20px 70px -20px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 20px 70px -20px rgba(0, 0, 0, 0.75);
}
.description {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 10px;
}
.life-description-right > .description {
  flex-direction: row-reverse;
}
.life-description-left .desc-value {
  text-align: left;
}
.desc-label {
  font-size: 17px;
  font-weight: bold;
  color: rgb(62, 66, 70);
  line-height: 30px;
}
.desc-value {
  font-size: 17px;
  text-align: right;
  line-height: 30px;
  color: rgb(62, 66, 70);
}

.skills-wrapper {
  width: 80%;
  margin: auto;
  height: 100%;
  background-color: white;
  -webkit-box-shadow: 0px 20px 50px -20px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 20px 50px -20px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 20px 50px -20px rgba(0, 0, 0, 0.75);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
}

.characteristics-container, .skills-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
}
.characteristics-container {
  box-sizing: content-box;
  background: rgb(240, 240, 240);
  width: calc(100% + 40px);
  padding-top: 20px;
  margin-left: -20px;
  margin-top: -20px;
  margin-bottom: 60px;
}
.skills-container {
  margin-top: 25px;
}
.characteristic-box, .skill-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 0 10px 10px;
  margin-bottom: 30px;
}
.skill-box {
  flex-basis: 130px;
}
.characteristic-title {
  font-weight: bold;
  padding: 5px 0 10px;
}

.skill-image-container {
  position: relative;
  height: 70px;
  width: 100%;
}
.skill-image-container .skill-image {
  position: absolute;
  bottom: 0;
  left: calc(50% - 35px);
  height: 100%;
  width: 70px;
  margin-bottom: 10px;
  overflow: hidden;
}

.skill-image-container .skill-image:first-child {
  filter: grayscale(100%);
}

.skill-image.icon-sass {
  transform: scale(1.3);
}
.skill-image.icon-js {
  transform: scale(1.4);
}

.skill-image.icon-webpack, .skill-image.icon-mongo {
  transform: scale(1.2);
}

.skill-image.icon-react {
  transform: scale(1.1);
}

.skill-image.icon-redux, .skill-image.icon-native {
  border-radius: 50%;
}

.skill-image.icon-native {
  padding: 8px;
  transform: scale(0.8);
  background-color: #222222;
  left: calc(50% - 42px);
  top: -15px;
}

.skill-label {
  font-weight: bold;
  margin: 5px 0px;
}

@media only screen and (min-width: 625px) and (max-width: 1000px) {
  .characteristic-box {
    flex-basis: 250px;
    padding-right: 20px;
    padding-left: 20px;
    box-sizing: border-box;
  }
  .skill-box {
    flex-basis: 100px;
  }
}

@media only screen and (max-width: 624px) {
  .skills-wrapper {
    width: 90%;
  }
  .skill-box {
    flex-basis: 90px;
  }
  .skill-label {
    margin-bottom: 0px;
  }
}