body {
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Display', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul, a {
	outline: none !important;
	text-decoration: none !important;
	list-style: none !important;
}

a:visited {
	color: inherit !important;
}

button {
	border: none;
	outline: none !important;
}

* {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

*::-webkit-scrollbar {
	width: 0;
	height: 0;
}