@media only screen and (max-width: 1100px) {
  .life-stage {
    height: 290px;
    width: 50%;
  }
  .life-description-left {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    padding-right: 0px;
  }
  .life-description-right {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    padding-left: 0px;
  }
  .description {
    max-width: 40vw;
    margin: 0px 10px;
  }
  .desc-value {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .description-container {
    padding-top: 100px;
    height: 130px;
    margin-top: 0px;
    -webkit-box-shadow: 0px 10px 70px -20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 70px -20px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 70px -20px rgba(0, 0, 0, 0.75);
  }
  .life-description-right > .description {
    flex-direction: row;
  }
  .life-icons {
    width: 130px;
    height: 130px;
    box-sizing: border-box;
  }
  .life-stage:nth-child(2n) .life-icons {
    left: calc(75vw - 65px);
  }
  .life-stage:nth-child(2n+1) .life-icons {
    left: calc(25vw - 65px);
  }
  .icon-img {
    background: white;
    border-radius: 50%;
    z-index: 2;
    -webkit-box-shadow: 0px -15px 10px -20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -15px 10px -20px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -10px 30px -20px rgba(0, 0, 0, 0.75);
  }
  .life-stage-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 700px) {
  .description {
    max-width: 80vw;
  }
  .life-stage .life-icons {
    left: calc(50vw - 65px) !important;
  }
  .life-stage {
    width: 100%;
  }
  .life-stage-wrapper {
    display: block;
  }
}
@media only screen and (max-height: 600px) {
  .profile-pic {
    margin-top: 30px;
  }
}

@media only screen and (min-width: 910px) and (max-width: 1520px) {
  .my-description-wrapper {
    width: 40%;
  }
}
@media only screen and (min-width: 1520px) {
  .my-description-wrapper {
    width: 25%;
  }
}
@media only screen and (min-width: 570px) and (max-width: 910px) {
  .my-description-wrapper {
    width: 60%;
  }
}
@media only screen and (max-width: 570px) {
  .my-description-wrapper {
    width: 85%;
  }
  .hi {
    font-size: 30px;
  }
  .my-name,
  .my-description-wrapper {
    font-size: 18px;
  }
  .himayan {
    font-size: 20px;
  }
  .profile-pic {
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
  }
  .my-profession {
    font-size: 20px;
  }
}

@media only screen and (min-width: 625px) and (max-width: 1000px) {
  .characteristic-box {
    flex-basis: 250px;
    padding-right: 20px;
    padding-left: 20px;
    box-sizing: border-box;
  }
  .skill-box {
    flex-basis: 100px;
  }
}

@media only screen and (max-width: 624px) {
  .characteristic-box {
    padding-right: 20px;
    padding-left: 20px;
    box-sizing: border-box;
  }
  .skills-wrapper {
    width: 90%;
  }
  .skill-box {
    flex-basis: 90px;
  }
  .skill-label {
    margin-bottom: 3px;
  }
  .section-header {
    width: 90%;
  }
  .section-header span {
    font-size: 20px;
  }
  .section-header::before {
    margin-top: 12px;
    width: 50px;
  }
}

@media only screen and (max-width: 1068px) and (min-width: 701px) {
  .projects-wrapper {
    width: 95%;
  }
  .project-box {
    width: 46vw;
  }
  .project-box .project-image {
    width: 100%;
    height: calc(46vw / 1.5);
  }
  .project-box:first-child {
    width: 93vw;
  }
  .project-box:first-child .project-image {
    height: calc(93vw / 1.5);
  }
  .project-box:first-child .project-skill-image {
    max-width: 50px;
    max-height: 50px;
  }
  .project-box:first-child .project-header {
    padding: 30px 30px 0px;
  }
  .project-box:first-child .project-title {
    font-size: 20px;
  }
  .project-box:first-child .project-subtitle {
    font-size: 17px;
  }
  .project-box:first-child .link-wrapper {
    padding: 30px;
  }
  .project-box:first-child .project-skills-wrapper {
    padding: 30px;
  }
  .project-box:first-child .project-skill {
    margin: 0 10px;
  }
  .projects-wrapper {
    width: 95%;
  }

}

@media only screen and (max-width: 700px) {
  .project-box {
    width: 85vw;
  }
  .project-box .project-image {
    width: 100%;
    height: calc(85vw / 1.5);
  }
}

@media only screen and (max-width: 900px) {
  .contact-icon-wrapper {
    display: none;
  }
}

@media only screen and (min-width: 1361px) {
	.navbar-open ~ .sections-container {
		margin-left: 241px;
		width: calc(100vw - 241px);
		transition: margin-left 0.5s ease-in-out, width 0.5s ease-in-out;
	}
	.navbar-open ~ .sections-container .project-box {
		width: 32%;
	}
	.navbar-open ~ .sections-container .project-box .project-image {
		height: calc((100vw - 241px) / 5);
	}
	.navbar-open ~ .sections-container .life-icons {
		left: calc(50% + 45px);
		transition: left 0.5s ease-in-out;
	}
}